body {
    font-family: 'Courier New', Courier, monospace;
    padding: 16px;
    background-color: #272727;
    min-height: 100vh;
    color: white;
}

h1 {
    margin: auto;
    border: 3px solid lightgray;
    text-align: center;
    color: white;
    border-radius: 5px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /*border: 2px solid grey;*/
    padding: 10px;
    list-style-type: none;
}

ul li {
    border: 2px solid lightgray;
    padding: 10px;
    color: #272727;
    background-color: lightgray;
    border-radius: 5px;
    text-decoration: none;
}

ul li a {
    text-decoration: none;
    color: #272727;
    background-color: transparent;
    font-weight: bold;
    display: flex;
    flex: 1;
}

a {
    background-color: transparent;
    color: white;
    text-decoration: underline;
}

ul li:hover {
    background-color: white;
}